@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif; 
}

/* Shared CSS styles here */
.dark-01{
    color: rgb(19, 19, 19);
}
.dark-02{
    color: rgb(66, 66, 66);
}
.dark-03{
    color: rgb(114, 114, 114);
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1.4rem;
    text-align: center;
} 

/* Navbar styles starts here */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.banner{
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner-section styles starts here */
.banner-section{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.banner-section-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6rem;
    text-align: center;
    margin-bottom: 2rem;
}
.banner-section-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
}
.banner-image{
    width: 100%;
    margin-bottom: 2rem;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links{
       flex-direction: column;
    }
    .navbar{
        align-items: center;
        justify-content: center;
        left: 0;
    }
    
}